/* desktop styles */
@media only screen and (min-width: 769px) { 
    .menu-container {
      width: 100%;
    }
  
    .menu-container a {
      color: #cdcdcd;
    }
  
    .menu-container input {
      display: none;
    }
  
    /* Burger menu */
    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
  }